
code {
  padding: 30px;
  background: #efefef;
  display: block;
  margin: 15px 0;
}

/* ヘッダー */
ul {
  width: 800px;
  margin: 0 auto !important;
}

#navigation {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 5px gray;
  background-color: #8541c8;
  width: 100%;
  height: 50px;
}

#navigation.staging {
  background-color: #ffab1a;
}

.ie9 #navigation {
  display: table;
  table-layout: fixed;
}

#navigation .nav-inner > ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  height: 50px;
  list-style: none;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.ie9 #navigation .nav-inner > ul {
  display: table-row;
}

#navigation .nav-inner > ul > li {
  display: inline-block;
  position: relative;
  float: left;
  margin: 0;
  height: 100%;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

#navigation .nav-inner > ul > li.right {
  float: right;
  margin-left: auto;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}




#navigation .link > a {
  display: block;
  padding: 13px 15px 4px 15px;
  height: 33px;
  text-decoration: none;
  white-space: nowrap;
  color: white;
  font-size: 0.85rem;
  font-weight: bold;
}

#navigation .search {
  display:inline;
  padding: 13px 15px 4px 15px;
  height: 33px;
  text-decoration: none;
  white-space: nowrap;
  color: white;
  font-size: 0.85rem;
  font-weight: bold;
}




#navigation .link > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

#footer {
  background: rgba(238, 238, 238, 0.3);
  background-width: 100%;
  padding: 10px;
  margin-top: 50px;
}