body{
  background-color:#85c0ff;
}
a{
  color:blue;
}

#article{
  font-size:20px;
  color:black;
}
#lastedit{
  font-size:15px;
  color:#ffffff;
}

#editid{
  font-size:5px;
  color:#ffffff;
}

textarea {
  resize: none;
  width:900px;
  height:500px;
}
#prevention{
  color:gray;
}

form {display:inline;}

#search{
  display:inline;
}

input{
  width:300px; 
  height:20px;
  font-size:17px;
}

h4{
  margin-top:7px;
  margin-bottom:0;
}